#RENAME TO ".env"

# Proxmox Terraform Module Credentials
TF_VAR_pm_api_url=https://[IP_ADDRESS]/api2/json
TF_VAR_pm_user=[terraform_user_name]@pam
TF_VAR_pm_token_name=[terraform_token_name]
TF_VAR_pm_token_value=[terraform_token_value]

ADMIN_PASSWORD=[Password]

PVE01_PASSWORD=[Password]
PVE01_USERNAME=[Username]

PVE02_PASSWORD=[Password]
PVE02_USERNAME=[Username]